/* Dracula Theme */
QWidget {
    background-color: #282a36;
    color: #f8f8f2;
}
QPushButton, QComboBox, QLineEdit, QSpinBox, QCheckBox, QListWidget, QSlider, QTreeWidget, QLabel {
    background-color: #44475a;
    color: #f8f8f2;
    border: 1px solid #6272a4;
}
QPushButton:hover {
    background-color: #6272a4;
}
QLineEdit, QComboBox, QSpinBox {
    selection-background-color: #bd93f9;
    selection-color: #282a36;
}
QScrollBar:vertical, QScrollBar:horizontal {
    background: #44475a;
    border: 1px solid #6272a4;
}
QSlider::groove:horizontal, QSlider::groove:vertical {
    background: #6272a4;
}
QSlider::handle:horizontal, QSlider::handle:vertical {
    background: #bd93f9;
    border: 1px solid #6272a4;
}
QTreeWidget {
    alternate-background-color: #44475a;
}
QLabel#status_label {
    color: #bd93f9;
}
