/* One Dark Theme */
QWidget {
    background-color: #282c34;
    color: #abb2bf;
}
QPushButton, QComboBox, QLineEdit, QSpinBox, QCheckBox, QListWidget, QSlider, QTreeWidget, QLabel {
    background-color: #21252b;
    color: #abb2bf;
    border: 1px solid #3e4451;
}
QPushButton:hover {
    background-color: #3e4451;
}
QLineEdit, QComboBox, QSpinBox {
    selection-background-color: #61afef;
    selection-color: #282c34;
}
QScrollBar:vertical, QScrollBar:horizontal {
    background: #21252b;
    border: 1px solid #3e4451;
}
QSlider::groove:horizontal, QSlider::groove:vertical {
    background: #3e4451;
}
QSlider::handle:horizontal, QSlider::handle:vertical {
    background: #61afef;
    border: 1px solid #3e4451;
}
QTreeWidget {
    alternate-background-color: #21252b;
}
QLabel#status_label {
    color: #61afef;
}
