/* Palenight Theme */
QWidget {
    background-color: #292d3e;
    color: #a6accd;
}
QPushButton, QComboBox, QLineEdit, QSpinBox, QCheckBox, QListWidget, QSlider, QTreeWidget, QLabel {
    background-color: #32374d;
    color: #a6accd;
    border: 1px solid #676e95;
}
QPushButton:hover {
    background-color: #676e95;
}
QLineEdit, QComboBox, QSpinBox {
    selection-background-color: #c792ea;
    selection-color: #292d3e;
}
QScrollBar:vertical, QScrollBar:horizontal {
    background: #32374d;
    border: 1px solid #676e95;
}
QSlider::groove:horizontal, QSlider::groove:vertical {
    background: #676e95;
}
QSlider::handle:horizontal, QSlider::handle:vertical {
    background: #c792ea;
    border: 1px solid #676e95;
}
QTreeWidget {
    alternate-background-color: #32374d;
}
QLabel#status_label {
    color: #c792ea;
}
